
.stncVolunteer .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.stncVolunteer .box.box-primary {
    border-top-color: #3c8dbc;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.stncVolunteer .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}


.stncVolunteer .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}


.stncVolunteer .form-group {
    margin-bottom: 15px;
}

.stncVolunteer .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.stncVolunteer .checkbox, .stncVolunteer .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stncVolunteer .checkbox label, .stncVolunteer .radio label {
    min-height: 20px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.stncVolunteer .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.stncVolunteer .bodyContent {
    line-height: 150%;
    font-family: Helvetica;
    font-size: 14px;
    color: #333333;
    padding: 20px;
}

.stncVolunteer #templateBody {
    background-color: #FFEFC0;
}

.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.stncGonulluOl_errors { padding: 8px; border: 1px solid #f50; margin: 0 0 15px; }




