.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-warning {
    color: #815c15;
    background-color: #feefd0;
    border-color: #fde9bd;
}

.dropzone .dz-message .dz-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #4f5d73;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #2eb85c;
    border-color: #2eb85c;
}

.btn-primary {
    color: #fff;
    background-color: #321fdb;
    border-color: #321fdb;
}

.btn-warning {
    color: #4f5d73;
    background-color: #f9b115;
    border-color: #f9b115;
}

.btn-danger {
    color: #fff;
    background-color: #e55353;
    border-color: #e55353;
}

.dropzone {
    border-radius: 5px;
    background: white;
}


/* Mimic table appearance */

div.table-upload {
    display: table;
}

div.table-upload .file-row {
    display: table-row;
}

div.table-upload .file-row>div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}

div.table-upload .file-row:nth-child(odd) {
    background: #f9f9f9;
}


/* The total progress gets shown by event listeners */

#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}


/* Hide the progress bar when finished */

#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}


/* Hide the delete button initially */

#previews .file-row .delete {
    display: none;
}


/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}

#previews .file-row.dz-success .delete {
    display: block;
}

.dz-remove {
    display: none;
}

.progress {
    height: 1rem;
    line-height: 0;
    font-size: .65625rem;
    border-radius: 0.25rem;
    background-color: #ebedef;
}

.progress,
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.progress-bar {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    color: #fff;
    background-color: #321fdb;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #4f5d73;
}

.form-style-2 {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style-2 label>span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 40px;
    text-align: center;
}

.form-style-2 input.input-field,
.form-style-2 .select-field {
    width: 48%;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
    border: 1px solid #0C0;
}

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
    background: #EA7B00;
    color: #fff;
}